.header {
    padding-bottom: 107px;
    background-color:#f4f0e7;
    background-image: url(../img/header-tree.png), url(../img/people.png), url(../img/arcs.png), radial-gradient(#f0ece3 20%, transparent 0%),
    radial-gradient(#f0ece3 20%, transparent 0%);
    background-size:  auto auto, auto auto, auto auto, 40px 30px,40px 30px;
    background-position: left calc(50% - 1450px) top 50px, left calc(50% - 402px) bottom 40px, left calc(50% - 10px) top 10px, 0 0,20px 15px;
    background-repeat: no-repeat, no-repeat, no-repeat, repeat, repeat;


    //url(../img/people.png) no-repeat left calc(50% - 100px) bottom 10px;


    &::before {
        display: none;
    }
    .container {
        display: flex;
        justify-content: space-between;
    }
    &__left {
        position: relative;
        padding-left: 497px;
    }
    &__main-pack {
        position: absolute;
        left: 168px;
        top: 339px;
        z-index: 1;
    }
    &__right {
        padding-top: 40px;
    }
    &__list {
        display: flex;
        flex-direction: column;
    }
    &__item {
        display: flex;
        align-items: center;
        font-size: 23px;
        margin-top: 30px;
    }
    &__info-box {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__list-text {
        width: 250px;
        margin-left: 18px;
    }
    &__form {
        border: 3px solid #84902c;
        border-radius: 10px;
        background: #fff;
        width: 270px;
        position: relative;
        top: -8px;
        &::before {
            content: '';
            background: #84902c url(../img/form-clock.png) no-repeat center center;
            display: block;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -33px;
        }
    }
    &__form-title {
        font-size: 24px;
        text-align: center;
        margin-top: 25px;
    }
    &__price-box {
        display: flex;
        padding: 13px 25px 30px;
        position: relative;
        &::before {
            content: '';
            width: 100%;
            background: url(../img/form-arrow.png) no-repeat center center;
            height: 23px;
            bottom: 0px;
            position: absolute;
            left: 0;
        }
    }

    .price-old__nums {
        color: #a2a1a1;
        display: flex;
        align-items: flex-end;
    }

    .price-type {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .price-curr {
        padding-left: 14px;
    }

    .price_previous {
        font-size: 28px;
        position: relative;
        &::before,
        &::after {
            content: '';
            background: #f23c29;
            width: 105%;
            height: 1px;
            display: block;
            position: absolute;
            top: 13px;
            left: 0;
        }
        &::before {
            transform: rotate(18deg);
        }
        &::after {
            transform: rotate(-18deg);
        }
    }

    .price_current {
        font-size: 40px;
        line-height: 30px;
        letter-spacing: -2px;
    }

    .old-currency {
        font-size: 16px;
    }

    .curr-currency {
        font-size: 18px;
    }

    .price-curr__nums {
        display: flex;
        align-items: flex-end;
    }

    .price-type__text {
        margin-bottom: 10px;
    }

    .price-old__text {
        font-size: 13px;
    }

    .price-curr__text {
        font-size: 14px;
    }

    &__price-left {
        position: relative;
        &::before {
            content: '';
            width: 1px;
            height: 90%;
            background: #d1d0d0;
            position: absolute;
            right: -1px;
            top: 5%;
        }
    }
    &__left-time {
        font-size: 20px;
        text-align: center;
        padding: 0 20px;
    }
    &__left-nums-box {
        display: flex;
        justify-content: center;
        margin-top: 14px;
        flex-wrap: wrap;
    }
    &__left-item {
        border: 2px solid #84902c;
        border-radius: 5px;
        margin: 0 1.5px;
        &_push {
            margin-right: 5.5px;
        }
        span {
            font-size: 24px;
            font-weight: 700;
            padding: 6px 8px;
            display: block;
        }
    }
 }

.header-top {
    background: rgba(255, 255, 255, .7);
    .container {
        display: flex;
        justify-content: space-between;
    }
    &__logo-box {
        display: flex;
    }
    &__img-box {
        position: relative;
        padding-left: 130px;
        img {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
        }
    }
    &__cream {
        font-size: 16px;
        margin-left: 22px;
        line-height: 68px;
    }
    &__nav {
        display: flex;
    }
    &__link {
        display: flex;
        align-items: center;
        border-top: 3px solid transparent;
        margin: 0 66px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            right: -74px;
            top: 9px;
            background: url(../img/header-nav-arrow.png) no-repeat center center;
            width: 7px;
            height: 44px;
        }
        &:hover {
            border-top: 3px solid #fc8a1c;
        }
        &_last {
            margin-right: 30px;
            &::before {
                display: none;
            }
        }
    }
    &__link-name {
        font-size: 17px;
        color: #222;
        margin-left: 15px;
    }
}

.title_main {
    font-size: 72px;
    text-align: left;
    line-height: 66px;
}

.btn_header {
    margin: 25px auto 29px;
}

@media (max-width: 1219px){

}
@media (max-width: 1023px){

}
@media (max-width: 767px){

}
@media (max-width: 639px){

}
@media (max-width: 479px){

}