.header {
    position: relative;
    padding-bottom: 107px;
    background-color:#f4f0e7;
    background-image: url(../img/header-tree.png), url(../img/people.png), url(../img/arcs.png), radial-gradient(#f0ece3 20%, transparent 0%),
    radial-gradient(#f0ece3 20%, transparent 0%);
    background-size:  auto auto, auto auto, auto auto, 40px 30px,40px 30px;
    background-position: left calc(50% - 1450px) top 50px, left calc(50% - 402px) bottom 40px, left calc(50% - 10px) top 10px, 0 0,20px 15px;
    background-repeat: no-repeat, no-repeat, no-repeat, repeat, repeat;
    &::before {
        display: none;
    }
    .container {
        display: flex;
        justify-content: space-between;
    }
    &__left {
        position: relative;
        padding-left: 497px;
    }
    &__main-pack {
        position: absolute;
        left: 168px;
        top: 339px;
        z-index: 1;
    }
    &__right {
        padding-top: 40px;
    }
    &__list {
        display: flex;
        flex-direction: column;
    }
    &__item {
        display: flex;
        align-items: center;
        font-size: 23px;
        margin-top: 30px;
    }
    &__info-box {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__list-text {
        width: 250px;
        margin-left: 18px;
    }
    &__form {
        border: 3px solid #84902c;
        border-radius: 10px;
        background: #fff;
        width: 270px;
        position: relative;
        top: -8px;
        &::before {
            content: '';
            background: #84902c url(../img/form-clock.png) no-repeat center center;
            display: block;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -33px;
        }
    }
    &__form-title {
        font-size: 24px;
        text-align: center;
        margin-top: 25px;
    }
    &__price-box {
        display: flex;
        padding: 13px 25px 30px;
        position: relative;
        &::before {
            content: '';
            width: 100%;
            background: url(../img/form-arrow.png) no-repeat center center;
            height: 23px;
            bottom: 0px;
            position: absolute;
            left: 0;
        }
    }

    .price-old__nums {
        color: #a2a1a1;
        display: flex;
        align-items: flex-end;
    }

    .price-type {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .price-curr {
        padding-left: 14px;
    }

    .price_previous {
        font-size: 28px;
        position: relative;
        &::before,
        &::after {
            content: '';
            background: #f23c29;
            width: 105%;
            height: 1px;
            display: block;
            position: absolute;
            top: 13px;
            left: 0;
        }
        &::before {
            transform: rotate(18deg);
        }
        &::after {
            transform: rotate(-18deg);
        }
    }

    .price_current {
        font-size: 40px;
        line-height: 30px;
        letter-spacing: -2px;
    }

    .old-currency {
        font-size: 16px;
    }

    .curr-currency {
        font-size: 18px;
    }

    .price-curr__nums {
        display: flex;
        align-items: flex-end;
    }

    .price-type__text {
        margin-bottom: 10px;
    }

    .price-old__text {
        font-size: 13px;
    }

    .price-curr__text {
        font-size: 14px;
    }

    &__price-left {
        position: relative;
        &::before {
            content: '';
            width: 1px;
            height: 90%;
            background: #d1d0d0;
            position: absolute;
            right: -1px;
            top: 5%;
        }
    }
    &__left-time {
        font-size: 20px;
        text-align: center;
        padding: 0 20px;
    }
    &__left-nums-box {
        display: flex;
        justify-content: center;
        margin-top: 14px;
        flex-wrap: wrap;
    }
    &__left-item {
        border: 2px solid #84902c;
        border-radius: 5px;
        margin: 0 1.5px;
        &_push {
            margin-right: 5.5px;
        }
        span {
            font-size: 24px;
            font-weight: 700;
            padding: 6px 8px;
            display: block;
        }
    }
    &__go-to-next {
        background: url(../img/go-to-next-section.png)no-repeat center center;
        width: 25px;
        height: 50px;
        position: absolute;
        left: 50%;
        bottom: 17px;
        transform: translateX(-50%);
        cursor: pointer;
        z-index: 1;
        &:hover {
            //background: url(../img/go-to-next-section-hover.png)no-repeat center center;
        }
    }
    &__img-pack-767 {
        display: none;
    }
    .btn_header {
        margin: 25px auto 29px;
    }
 }

.header-top {
    background: rgba(255, 255, 255, .7);
    .container {
        display: flex;
        justify-content: space-between;
    }
    &__logo-box {
        display: flex;
    }
    &__img-box {
        position: relative;
        padding-left: 130px;
        img {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
        }
    }
    &__cream {
        font-size: 16px;
        margin-left: 22px;
        line-height: 68px;
    }
    &__nav {
        display: flex;
    }
    &__link {
        display: flex;
        align-items: center;
        border-top: 3px solid transparent;
        margin: 0 66px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            right: -74px;
            top: 9px;
            background: url(../img/header-nav-arrow.png) no-repeat center center;
            width: 7px;
            height: 44px;
        }
        &:hover {
            border-top: 3px solid #fc8a1c;
            path {
                fill: #fc8a1c;
            }
        }
        &_last {
            margin-right: 30px;
            &::before {
                display: none;
            }
        }
    }
    &__link-name {
        font-size: 17px;
        color: #222;
        margin-left: 15px;
    }
}

.title_main {
    font-size: 72px;
    text-align: left;
    line-height: 66px;
}
@media screen and (min-width:0\0){
    .title_main {
        font-size: 71px !important;
    }
}



@media (max-width: 1219px){
    .header {
        background-color: #f4f0e7;
        background-image: url(../img/people.png),url(../img/arcs.png),radial-gradient(#f0ece3 20%,transparent 0%),radial-gradient(#f0ece3 20%,transparent 0%);
        background-size: auto auto,auto auto,40px 30px,40px 30px;
        background-position: left calc(50% - 360px) bottom 40px,left calc(50% - 10px) top 10px,0 0,20px 15px;
        background-repeat: no-repeat,no-repeat,repeat,repeat;
        &__left {
            padding-left: 430px;
        }
        &__main-pack {
            left: 130px;
            top: 390px;
            width: 280px;
        }
        &__item {
            font-size: 21px;
        }
        &__form {
            top: 40px;
        }
    }
    .header-top {
        &__link {
            margin: 0 30px;
            &::before {
                right: -34px;
            }
        }
    }
    .title_main {
        font-size: 66px;
    }
}
@media (max-width: 1023px){
    .header {
        background-color: #f4f0e7;
        background-image: radial-gradient(#f0ece3 20%,transparent 0%),radial-gradient(#f0ece3 20%,transparent 0%);
        background-size: 40px 30px, 40px 30px;
        background-position: 0 0, 20px 15px;
        background-repeat: repeat,repeat;
        padding-bottom: 40px;
        &__left {
            padding-left: 0;
        }
        &__form {
            position: relative;
            margin: 50px 40px 0;
            top: 0;
            order: 1;
        }
        &__img-pack-767 {
            display: block;
            width: 290px;
            margin: 40px 40px 0;
        }
        &__right {
            padding-top: 20px;
        }
        &__go-to-next {
            bottom: -21px;
        }
        &__info-box {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__list {
            flex-direction: row;
        }
        &__item {
            flex-direction: column;
            align-items: center;
        }
        &__list-text {
            margin-left: 0;
            text-align: center;
            margin-top: 10px;
        }
    }
    .header-top {
        &__logo-box {
            display: none;
        }
        &__nav {
            width: 100%;
            justify-content: center;
        }
        &__link {
            padding: 15px 30px;
            margin: 0 10px;
        }
        &__link::before {
            right: -16px;
        }
    }
    .title_main {
        font-size: 56px;
        line-height: 1;
        text-align: center;
    }
}
@media (max-width: 767px){
    .header {
        &__form {
            top: 0px;
            margin: 40px auto 0;
            order: 1;
        }
        &__info-box {
            flex-direction: column;
        }
        &__list {
            margin: 0 auto;
        }
        &__img-pack-767 {
            position: static;
            margin: 20px auto 0;
            width: 270px;
        }
        &__item {
            flex-direction: row;
            font-size: 18px;
            img {
                width: 80px;
            }
        }
        &__list-text {
            text-align: left;
            margin-left: 20px;
        }
        &__list {
            flex-direction: column;
        }
    }
    .title_main {
        width: 100%;
        font-size: 46px;
        text-align: center;
    }
}
@media (max-width: 639px){
    .header {
        &__list-text {
            margin-top: 0;
        }
        &__item {
            img {
                width: 70px;
            }
        }
        &__img-pack-767 {
            width: 210px;
        }
        &__item {
            margin-top: 20px;
        }
    }
    .header-top {
        display: none;
    }
    .title_main {
        font-size: 36px;
    }
}
@media (max-width: 479px){

}