<!--header start-->
<header class="header block wave" id="header">
	<div class="header-top">
		<div class="container">
			<div class="header-top__logo-box">
				<div class="header-top__img-box">
					<img src="img/logo.png" alt="Varius">
				</div>
				<p class="header-top__cream">
					Крем от варикоза
				</p>
			</div>
			<nav class="header-top__nav">
				<a href="#consist" class="header-top__link">
					<img src="img/nav-icon1.png" alt="icon">
					<span class="header-top__link-name">
					Состав
				</span>
				</a>
				<a href="#reviews" class="header-top__link">
					<img src="img/nav-icon2.png" alt="icon">
					<span class="header-top__link-name">
					Отзывы
				</span>
				</a>
				<a href="#order" class="header-top__link header-top__link_last">
					<img src="img/nav-icon3.png" alt="icon">
					<span class="header-top__link-name">
					Оплата и доставка
				</span>
				</a>
			</nav>
		</div>
	</div>
	<div class="container">
		<div class="header__left">
			<img src="img/Varius-pack.png" alt="Varius" class="header__main-pack">
		</div>
		<div class="header__right">
			<h1 class="title title_main">
				Избавьтесь от боли
				и тяжести в ногах
				<span class="corporate-color">за 1 курс</span>
			</h1>
			<div class="header__info-box">
				<div class="header__list">
					<div class="header__item">
						<img src="img/header-list-img1.png" alt="advantages">
						<p class="header__list-text">
							<span class="text-medium">Помогает</span> избавиться
							от синих вен
						</p>
					</div><div class="header__item">
						<img src="img/header-list-img2.png" alt="advantages">
						<p class="header__list-text">
							<span class="text-medium">Борется</span> с отеками
							и&nbsp;судорогами
						</p>
					</div><div class="header__item">
						<img src="img/header-list-img3.png" alt="advantages">
						<p class="header__list-text">
							<span class="text-medium">Снижает</span> риск
							образования тромбов
						</p>
					</div>
				</div>
				<form action="/submit" method="post" class="x_order_form header__form">
					<h2 class="header__form-title text-medium">
						Закажите сейчас <br><span class="text-orange">по Акции</span>
					</h2>
					<div class="header__price-box">
						<div class="header__price-left price-old price-type">
							<p class="price-old__text price-type__text">
								Старая цена
							</p>
							<p class="price-old__nums">
								<span class="x_price_previous price_previous">1980</span>
								<span class="x_currency currency old-currency">руб.</span>
							</p>
						</div>
						<div class="header__price-right price-curr price-type text-orange">
							<p class="price-curr__text price-type__text">
								Ваша цена
							</p>
							<p class="price-curr__nums">
								<span class="x_price_current price_current text-black">990</span>
								&nbsp;<span class="x_currency currency curr-currency">руб.</span>
							</p>
						</div>
					</div>
					<p class="header__left-time">
						Осталось до конца
						акции
					</p>
					<div class="header__left-nums-box">
						<div class="header__left-item">
							<span class="hours">0</span>
						</div>
						<div class="header__left-item header__left-item_push">
							<span class="hours">0</span>
						</div>
						<div class="header__left-item">
							<span class="minutes">0</span>
						</div>
						<div class="header__left-item header__left-item_push">
							<span class="minutes">0</span>
						</div>
						<div class="header__left-item">
							<span class="seconds">0</span>
						</div>
						<div class="header__left-item">
							<span class="seconds">0</span>
						</div>
					</div>
					<button class="btn btn_header">
						<span class="btn__big">Заказать</span>
						<span class="btn__small">по акции</span>
					</button>
				</form>
			</div>
		</div>
	</div>
</header>
<!--header end-->