<!--usage start-->
<section class="usage block wave" id="usage">
	<div class="container">
		<h2 class="title">Как применять <span class="corporate-color">Varius</span></h2>

		<div class="usage__content">
			<div class="usage__item">
				<div class="usage__img">
					<img src="img/usage-1.png" alt="">
				</div>
				<p class="usage__text"><span class="text-bold">Нанести</span> на сухую<br> и&nbsp;чистую кожу ног</p>
			</div>

			<div class="usage__item">
				<div class="usage__img">
					<img src="img/usage-2.png" alt="">
				</div>
				<p class="usage__text"><span class="text-bold">Втереть</span> круговыми<br> массажными движениями</p>
			</div>

			<div class="usage__item">
				<div class="usage__img">
					<img src="img/usage-3.png" alt="">
				</div>
				<p class="usage__text"><span class="text-bold">Рекомендованный курс:</span><br> от 30 дней</p>
			</div>
		</div>

		<button class="btn usage__btn"><span class="btn__big">Заказать Varius</span></button>
	</div>
</section>
<!--usage end-->