.footer {
    margin-top: 29px;
    padding-bottom: 65px;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__link {
        font-size: 16px;
        color: #666;
        text-decoration: underline;
        margin-top: 12px;
        &:hover {
            text-decoration: none;
        }
    }
}

.go-top-btn {
    position: fixed;
    right: 100px;
    bottom: 300px;
    height: 50px;
    width: 50px;
    display: none;
    border: 1px solid #84902c;
    background: #fff;
    border-radius: 50%;
    z-index: 10;
    font-size: 40px;
    cursor: pointer;
    svg {
        width: 30px;
        height: 30px;
        margin: 9px auto;
        display: block;
    }
    path {
        fill: #84902c;
    }
    &:hover {
        background: #84902c;
        path {
            fill: #fff;
        }
    }
    &:hover + .go-to-top-title {
        display: block;
    }
}
.go-to-top-title {
    font-size: 15px;
    background: #fff;
    color: #666;
    position: fixed;
    line-height: 30px;
    right: 15px;
    bottom: 310px;
    border: 1px solid #e3e9ef;
    padding: 0 10px;
    display: none;
    border-radius: 5px;
    z-index: 10;
    &::before {
        content: '';
        background: #fff;
        transform: rotate(-45deg);
        position: absolute;
        left: -6px;
        top: 7.5px;
        border-left: 1px solid #e3e9ef;
        border-top: 1px solid #e3e9ef;
        width: 10px;
        height: 10px;
    }
}

@media (max-width: 1219px){

}
@media (max-width: 1023px){
    .footer {
        margin-top: 0;
    }
}
@media (max-width: 999px){
    .go-top-btn {
        bottom: 100px;
    }
    .go-to-top-title {
        bottom: 110px;
    }
}
@media (max-width: 767px){
    .go-to-top-title {
        display: none !important;
    }
    .go-top-btn {
        right: 20px;
    }
}
@media (max-width: 639px){

}
@media (max-width: 479px){

}
