<!--reviews start-->
<section class="reviews block" id="reviews">
	<div class="container">
		<h2 class="title">
			Отзывы
		</h2>
		<div class="reviews__btn_prev reviews__btn">
			<svg xmlns="http://www.w3.org/2000/svg" width="55" height="48" viewBox="0 0 55 48"><g><g><path fill="#ccc4b3" d="M0 23h.548L21.435.154l1.414 1.412L3.255 23H55v2H3.257l19.592 21.434-1.414 1.415L.549 25.001H0z"/></g></g></svg>
		</div>
		<div class="reviews__btn_next reviews__btn">
			<svg xmlns="http://www.w3.org/2000/svg" width="55" height="48" viewBox="0 0 55 48"><g><g><path fill="#ccc4b3" d="M0 23h.548L21.435.154l1.414 1.412L3.255 23H55v2H3.257l19.592 21.434-1.414 1.415L.549 25.001H0z"/></g></g></svg>
		</div>
		<div class="reviews__list">
			<div class="reviews__item reviews__item_1 active">
				<img src="img/reviews1.png" alt="people" class="reviews__img">
				<img src="img/little-reviews1.png" alt="people" class="reviews__sub-img">
				<div class="reviews__slide">
					<p class="reviews__title">
						Зиель, 42 года,
					</p>
					<p class="reviews__name">
						Хайфон
					</p>
					<p class="reviews__caption">
						Теперь нормально сплю по ночам
					</p>
					<p class="reviews__text">
						Уже почти полгода страдаю от этой болезни.
						При каждой возможности я лежала, забросив ноги
						на&nbsp;подушку. Регулярно делала массаж с кремами, чтоб утихала боль.
						Это уже стало привычным образом жизни. Нашла в интернете средство Вариус.
						Я до сих пор удивлена, но этот крем мне помог за 1 курс!
						Думала, что будет как обычно - сниму боль временно,
						но оно полностью убрало все мои страдания, вены теперь восстановились.
						Я теперь нормально сплю по ночам, а болезнь не возвращается.
					</p>
					<p class="reviews__effect">
						<span class="text-red">*</span>Ваши результаты могут отличаться в зависимости
						от&nbsp;индивидуальных особенностей организма
					</p>
				</div>
			</div>
			<div class="reviews__item reviews__item_2">
				<img src="img/reviews2.png" alt="people" class="reviews__img">
				<img src="img/little-reviews2.png" alt="people" class="reviews__sub-img">
				<div class="reviews__slide">
					<p class="reviews__title">
						Вуй, 35 лет,
					</p>
					<p class="reviews__name">
						Далат
					</p>
					<p class="reviews__caption">
						Оказывается, можно жить без боли
					</p>
					<p class="reviews__text">
						Мне еще в 24 года вырезали вену на левой ноге.
						Врач сказал, что со временем остальные вены тоже станут вздуваться,
						нужно будет постоянно следить за их состоянием.
						Ноги часто болели, бывали судороги, отечность.
						Потому я постоянно пробовал все новые средства для восстановления вен.
						И вот недавно мне попался крем Вариус.
						Он поломал все мои представления о варикозе!
						Оказывается, можно жить без боли!
						Для профилактики я буду проходить курс регулярно,
						потому что такая у меня особенность организма. Но никакого дискомфорта у меня больше нет!

					</p>
					<p class="reviews__effect">
						<span class="text-red">*</span>Ваши результаты могут отличаться в зависимости
						от&nbsp;индивидуальных особенностей организма
					</p>
				</div>
			</div>
			<div class="reviews__item reviews__item_3">
				<img src="img/reviews3.png" alt="people" class="reviews__img">
				<img src="img/little-reviews3.png" alt="people" class="reviews__sub-img">
				<div class="reviews__slide">
					<p class="reviews__title">
						Лан, 32 года,
					</p>
					<p class="reviews__name">
						Ханой
					</p>
					<p class="reviews__caption">
						Уже полгода ничего не беспокоит
					</p>
					<p class="reviews__text">
						Если варикоз лечить,пока вены не сильно выступают,то ещё можно будет что-то сделать.
						У меня вены такие по наследству.
						Я боялась хирургической операции, а когда вены местами были
						в диаметре больше 1 см, то никакие крема уже не помогли бы.
						Или дали бы кратковременный эффект.
						За рубежом делала лазер.
						Вроде всё хорошо, ноги стали нормальные,
						но потом через год та же проблема начала возникать.
						Нашла в одном медицинском блоге обзор на Вариус, решила попробовать курс.
						Результат мне понравился, вот уже полгода ничего не беспокоит.
						Думаю, повторю ещё курс
						для профилактики.
					</p>
					<p class="reviews__effect">
						<span class="text-red">*</span>Ваши результаты могут отличаться в зависимости
						от&nbsp;индивидуальных особенностей организма
					</p>
				</div>
			</div>
			<div class="reviews__item reviews__item_4">
				<img src="img/reviews4.png" alt="people" class="reviews__img">
				<img src="img/little-reviews4.png" alt="people" class="reviews__sub-img">
				<div class="reviews__slide">
					<p class="reviews__title">
						Лык, 34 года,
					</p>
					<p class="reviews__name">
						Хюэ
					</p>
					<p class="reviews__caption">
						Ноги не тянет, ходить стало легче
					</p>
					<p class="reviews__text">
						Заказывал для матери, у неё уже где-то год проблема с
						варикозными венами. Она сначала не хотела мазаться,
						думала, что это химия какая-то, но потом изучила состав и
						согласилась. Крем ей понравился, запах у него приятный, говорит.
						На всякий случай я заказал несколько упаковок,
						и она попользовалась
						им где-то полтора месяца - несколько недель так чисто для
						профилактики. Вот уже почти три месяца прошло, как она пролечилась.
						Говорит, что всё хорошо, ноги не тянет, ходить стало легче.
					</p>
					<p class="reviews__effect">
						<span class="text-red">*</span>Ваши результаты могут отличаться в зависимости
						от&nbsp;индивидуальных особенностей организма
					</p>
				</div>
			</div>
			<div class="reviews__item reviews__item_5">
				<img src="img/reviews5.png" alt="people" class="reviews__img">
				<img src="img/little-reviews5.png" alt="people" class="reviews__sub-img">
				<div class="reviews__slide">
					<p class="reviews__title">
						Ханг, 28 лет,
					</p>
					<p class="reviews__name">
						Шапа
					</p>
					<p class="reviews__caption">
						Я снова могу надевать то, что мне нравится!
					</p>
					<p class="reviews__text">
						У меня начала появляться синяя сеточка на ногах.
						Это было очень некрасиво.
						Я люблю носить высокие каблуки и юбки, и всю жизнь ходить
						в черных колготках - плохой вариант.
						Хотела сделать лазерную коррекцию.
						Пришла на консультацию к врачу.
						Она мне объяснила, что лазер - не решение проблемы,
						а косметический ремонт: сосуды все-равно будут проявляться.
						Она порекомендовала курс Вариуса.
						Девочки, моя кожа стала почти идеальной уже через 2 недели!
						Я продолжаю носить каблуки, мазать Вариус - и все в порядке.
					</p>
					<p class="reviews__effect">
						<span class="text-red">*</span>Ваши результаты могут отличаться в зависимости
						от&nbsp;индивидуальных особенностей организма
					</p>
				</div>
			</div>
			<div class="reviews__item reviews__item_6">
				<img src="img/reviews6.png" alt="people" class="reviews__img">
				<img src="img/little-reviews6.png" alt="people" class="reviews__sub-img">
				<div class="reviews__slide">
					<p class="reviews__title">
						Куан, 31 год,
					</p>
					<p class="reviews__name">
						Винь
					</p>
					<p class="reviews__caption">
						Доктор сказал, что я здоров
					</p>
					<p class="reviews__text">
						2 года назад заметил выпуклые вены на ногах, ничем не лечил.
						Прошел год, я ноги не напрягал вообще ничем, и боль не беспокоила.
						Через пару месяцев вышел на работу, появилась боль в ногах,
						и еще добавились маленькие звездочки на верхней ступне.
						Я пошел к доктору, он выписал мне Вариус,
						сказал, что надо срочно лечить, иначе придется на операцию идти.
						Я заказал вариус через интернет, начал мазать по инструкции.
						Через месяц пошел на прием к доктору, доктор сказал,
						что я здоров,
						но ноги все равно рекомендовал сильно не напрягать какое-то время,
						и для профилактики использовать Вариус раз в полгода.
					</p>
					<p class="reviews__effect">
						<span class="text-red">*</span>Ваши результаты могут отличаться в зависимости
						от&nbsp;индивидуальных особенностей организма
					</p>
				</div>
			</div>
			<div class="reviews__item reviews__item_7">
				<img src="img/reviews7.png" alt="people" class="reviews__img">
				<img src="img/little-reviews7.png" alt="people" class="reviews__sub-img">
				<div class="reviews__slide">
					<p class="reviews__title">
						Чанг, 31 год,
					</p>
					<p class="reviews__name">
						Хошимин
					</p>
					<p class="reviews__caption">
						Совмещала с упражнениями, за две недели ножки полечились
					</p>
					<p class="reviews__text">
						Помню читала про прекрасные упражнения для ног.
						Они укрепляют мышцы на ногах, разгоняют кровь
						и не дают венам появляться...
						Лежишь на спине и делаешь очень быстрые короткие движения
						ступнями вверх,как будто подбрасываешь маленькие мячики.
						Участвуют все мышцы и они потом поддерживают вены, как корсет.
						Чем дольше делаете,тем лучше. Чем чаще,тем лучше тоже.
						Можно под музыку, чтоб
						не скучно было.:-) Но, к сожалению, это только оказалось
						профилактикой варикоза, потому что если уже начались
						проблемы с венами, как я узнала, надо лечить чем-то,
						самостоятельно так кровь не разгонишь.
						В этом смысле понравился Вариус, у него хороший состав,
						отлично циркуляцию крови восстанавливает.
						Я совмещала с упражнениями, за две недели исчез дискомфорт,
						вены стали менее заметными
					</p>
					<p class="reviews__effect">
						<span class="text-red">*</span>Ваши результаты могут отличаться в зависимости
						от&nbsp;индивидуальных особенностей организма
					</p>
				</div>
			</div>
			<div class="reviews__item reviews__item_8">
				<img src="img/reviews8.png" alt="people" class="reviews__img">
				<img src="img/little-reviews8.png" alt="people" class="reviews__sub-img">
				<div class="reviews__slide">
					<p class="reviews__title">
						Тхи, 22 года,
					</p>
					<p class="reviews__name">
						Хойан
					</p>
					<p class="reviews__caption">
						Ноги больше не тянет
					</p>
					<p class="reviews__text">
						Услышала, что калий полезен при варикозе.
						Его в бананах много. Но они же такие калорийные,
						так можно фигуру подпортить, мало не покажется.
						Стала дальше лечение искать, посоветовали Вариус.
						Промазала ноги весь месяц, результат понравился, тяжесть прошла,
						и звездочек больше не видно.
						Ноги больше не тянет, и толстеть не пришлось из-за бананов)))
					</p>
					<p class="reviews__effect">
						<span class="text-red">*</span>Ваши результаты могут отличаться в зависимости
						от&nbsp;индивидуальных особенностей организма
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!--reviews end-->