.reviews {
    text-align: center;
    padding-bottom: 40px;
    .container {
        position: relative;
    }
    &__btn {
        position: absolute;
        top: 280px;
        cursor: pointer;
        &:hover {
            path {
                fill: #84902c;
            }
        }
        &_prev {
            left: 10px;
        }
        &_next {
            right: 10px;
            transform: rotate(180deg);
        }
    }
    .title {
        padding-top: 95px;
    }
    &__title {
        font-size: 23px;
        font-weight: 700;
        color: #000;
    }
    &__sub-img {
        cursor: pointer !important;
        opacity: .35;
        transition: .2s;
        &:hover {
            opacity: .6;
        }
    }
    &__img {
        cursor: pointer !important;
    }
    &__slide {
        display: none;
    }
    &__item {
        transition: all .5s linear;
        .reviews__img {
            display: none;
        }
        .reviews__sub-img {
            display: block;
        }
    }
    &__item.active {
        .reviews__img {
            display: block;
        }
        .reviews__sub-img {
            display: none;
        }
        .reviews__slide {
            display: block;
        }
    }
    &__btns {
        display: none;
    }
    &__item {
        img {
            position: absolute;
            transform: translateX(-50%) translateY(-50%);
        }
    }
    &__item_1 {
        img {
            left: 50%;
            top: 279px;
        }
    }
    &__item_2 {
        img {
            left: calc(50% + 202px);
            top: 334px;
        }
    }
    &__item_3 {
        img {
            left: calc(50% + 305px);
            top: 194px;
        }
    }
    &__item_4 {
        img {
            left: calc(50% + 448px);
            top: 385px;
        }
    }
    &__item_5 {
        img {
            left: calc(50% + 490px);
            top: 146px;
        }
    }
    &__item_6 {
        img {
            left: calc(50% + -473px);
            top: 187px;
        }
    }
    &__item_7 {
        img {
            left: calc(50% + -376px);
            top: 374px;
        }
    }
    &__item_8 {
        img {
            left: calc(50% + -252px);
            top: 178px;
        }
    }
    &__slide {
        padding-top: 248px;
    }
    &__name {
        font-style: italic;
        font-size: 19px;
        color: #444;
        position: relative;
        margin-top: 10px;
        &::before {
            content: '';
            height: 3px;
            width: 35px;
            background: #fa8a2d;
            position: absolute;
            display: block;
            left: 50%;
            transform: translateX(-50%);
            bottom: -21px;
        }
    }
    &__caption {
        font-size: 21px;
        font-weight: 500;
        color: #000;
        margin-top: 34px;
    }
    &__text {
        font-size: 19px;
        font-weight: 400;
        width: 970px;
        margin: 17px auto 0;
        line-height: 1.5;
    }
    &__effect {
        font-style: italic;
        font-size: 17px;
        width: 570px;
        margin: 30px auto 0;
        padding: 0 70px 20px;
        border: 1px solid #dededd;
        border-top-color: transparent;
        position: relative;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        &::before,
        &::after {
            content: '';
            width: 300px;
            height: 1px;
            background: #dededd;
            position: absolute;
            top: -1px;
        }
        &::after {
            right: -300px;
        }
        &::before {
            left: -300px;
        }
    }
    .text-red {
        color: #ff0000;
    }
}

@media (max-width: 1219px){
    .reviews {
        &__item_2 {
            img {
                left: calc(50% + 172px);
                top: 344px;
            }
        }
        &__item_3 {
            img {
                left: calc(50% + 225px);
                top: 194px;
            }
        }
        &__item_4 {
            img {
                left: calc(50% + 358px);
                top: 385px;
            }
        }
        &__item_5 {
            img {
                left: calc(50% + 390px);
                top: 146px;
            }
        }
        &__item_6 {
            img {
                left: calc(50% + -413px);
                top: 187px;
            }
        }
        &__item_7 {
            img {
                left: calc(50% + -276px);
                top: 344px;
            }
        }
        &__item_8 {
            img {
                left: calc(50% + -192px);
                top: 178px;
            }
        }
        &__effect {
            &::before {
                width: 200px;
                left: -200px;
            }
            &::after {
                width: 200px;
                right: -200px;
            }
        }
    }
}
@media (max-width: 1023px){
    .reviews {
        .title {
            padding-top: 0;
        }
        &__item {
            .reviews__sub-img {
                display: none;
            }
            img {
                position: static;
                transform: none;
                margin: 20px auto;
            }
        }
        &__slide {
            padding-top: 0;
            display: block;
        }
        &__item {
            .reviews__img {
                display: block;
            }
        }
        &__text {
            width: auto;
        }
        &__btn {
            display: none;
        }
        &__effect {
            border: none;
            padding: 10px;
            &::before,
            &::after {
                display: none;
            }
        }
        &__item {
            width: 700px;
            margin: 0 20px;
        }
        .slick-dots li {
            width: 14px;
            height: 14px;
            background-color: #ccc4b3;
            border-radius: 50%;
            margin-right: 11px;

            &:hover {
                background-color: #b1b977;
            }
        }
        .slick-dots .slick-active {
            width: 18px;
            height: 22px;
            background: transparent url('../img/help-active-dot.png') no-repeat center center;
            position: relative;
            top: -4px;

            &:hover {
                background-color: transparent;
            }
        }
        &__text {
            max-height: 115px;
            position: relative;
            overflow: hidden;
            &::before {
                content: '';
                background: linear-gradient(to bottom, transparent 0%, #fff 90%);
                position: absolute;
                width: 100%;
                height: 80px;
                bottom: 0;
                left: 0;
            }
        }
        &__more {
            display: block;
        }
        &__text + .reviews__btns {
            .reviews__more {
                display: block;
            }
            .reviews__less {
                display: none;
            }
        }
        &__text.active + .reviews__btns{
            .reviews__more {
                display: none;
            }
            .reviews__less {
                display: block;
            }
        }
        &__text.active {
            max-height: 1000px;
            &::before {
                display: none;
            }
        }
        &__slide {
            position: relative;
        }
        &__effect {
            margin-top: 60px;
            margin-bottom: 40px;
            width: auto;
        }
        &__btns {
            display: block;
            font-size: 30px;
            background: #fa8a2d;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 70px;
            cursor: pointer;
        }
        .slick-dots {
            bottom: 0px;
        }
        .slick-prev,
        .slick-next {
            height: 48px;
            width: 40px;
            top: 300px;
            z-index: 5;
            svg {
                max-width: 100%;
            }
            &:hover {
                path {
                    fill: #84902c;
                }
            }
            &:focus {
                path {
                    fill: #ccc4b3;
                }
            }
        }
        .slick-prev {
            left: 35px;
            &::before {
                content: '';
            }
        }
        .slick-next {
            right: 35px;
            transform: rotate(180deg);
            transform-origin: 20px 12px;
            &::before {
                content: '';
            }
        }
    }
}
@media (max-width: 767px){
    .reviews {
        padding: 30px 0;
        &__item {
            width: 450px;
            margin: 0 60px;
        }
        &__btns {
            bottom: 50px;
        }
        &__text {
            font-size: 18px;
        }
        &__effect {
            font-size: 16px;
            margin-top: 30px;
        }
    }
}
@media (max-width: 639px){
    .reviews {
        &__item {
            width: 360px;
        }
        .slick-prev,
        .slick-next {
            top: 260px;
            width: 30px;
        }
        .slick-next {
            transform-origin: 15px 12px;
        }
        &__btns {
            bottom: 70px;
        }
        &__text {
            font-size: 17px;
        }
        &__effect {
            font-size: 15px;
        }
    }
}
@media (max-width: 479px){
    .reviews {
        padding: 25px 0;
        &__item {
            width: 300px;
        }
        &__btns {
            bottom: 70px;
        }
        .slick-prev,
        .slick-next {
            top: 265px;
        }
        .slick-prev {
            left: 0;
        }
        .slick-next {
            right: 0;
        }

    }
}