.help {
  padding: 160px 0 35px;
  overflow: hidden;

  .title {
    text-align: left;
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 50px;
      height: 4px;
      border-radius: 2px;
      background-color: #fa8a2d;
      margin: 30px 0 45px;
    }
  }

  &__content {
    position: relative;
    display: flex;
    text-align: left;

    &::before {
      content: '';
      display: block;
      width: 744px;
      height: 425px;
      background: url("../img/help-tree.png") no-repeat center center;
      background-size: contain;
      position: absolute;
      top: -35px;
      right: -86%;
    }
  }

  &__left, &__right {
    width: 50%;
  }
  &__left {
    padding-top: 20px;
  }
  &__left-slide {
    display: flex !important;
    position: relative;
    padding-left: 3px;
    margin-bottom: 18px;

    &::before {
      content: '';
      display: block;
      width: 50px;
      height: 50px;
      background-color: #fa8a2d;
      border-radius: 50%;
      position: absolute;
      z-index: 0;
      left: 1px;
    }
  }

  &__left-number {
    position: relative;
    font-size: 30px;
    font-weight: 700;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 22px;
    z-index: 2;
    left: 1px;
  }

  &__left-text {
    color: #333333;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    width: 80%;
  }
  &__right-slider {
    width: 440px;
    position: absolute;
    top: -35px;
    left: 730px;
  }
  &__img {
    margin: -25px 0 25px 35px;
  }
  &__right-slide {
    width: 100%;
    position: relative;
    padding: 0 0 10px 12px;


    &::before {
      content: '';
      display: block;
      width: 430px;
      height: 430px;
      background-color: #ece6d9;
      position: absolute;
      left: 0;
      top: 8px;
      border-radius: 50%;
      z-index: 0;
    }

    img {
      position: relative;
      z-index: 2;
    }
  }
  &__prev, &__next {
    position: absolute;
    top: -45px;
    cursor: pointer;

    &:hover {
      path {
        fill: #84902c;
      }
    }
  }
  &__prev {
    left: -110px;
  }
  &__next {
    transform: rotate(180deg);
    right: -695px;
  }
  .slick-dots {
    text-align: left;
    margin-left: -5px;
  }
  .slick-dots li {
    width: 14px;
    height: 14px;
    background-color: #ccc4b3;
    border-radius: 50%;
    margin-right: 11px;

    &:hover {
      background-color: #b1b977;
    }
  }
  .slick-dots .slick-active {
    width: 18px;
    height: 22px;
    background: transparent url('../img/help-active-dot.png') no-repeat center center;
    position: relative;
    top: -4px;

    &:hover {
      background-color: transparent;
    }
  }

  &__btn {
    position: relative;
    padding: 15px 30px 0;
    top: 24px;
    z-index: 10;
  }
}
@media (max-width: 1399px) {
  .help {

    &__left {
      margin-left: 50px;
    }

    &__right-slider {
      width: 390px;
      left: 730px;
      top: 0;
    }
    &__img {
      margin: -25px 0 25px -15px;
    }
    &__right-slide {

      &::before {
        width: 380px;
        height: 380px;
      }
    }

    &__prev {
      left: -70px;
    }
    &__next {
      right: -555px;
    }
  }
}
@media (max-width: 1219px){
  .help {
    padding: 120px 0 30px;

    &__left {
      margin-left: 50px;
    }

    &__img {
      margin: 0;
    }

    &__right-slider {
      width: 300px;
      left: 630px;
      top: 40px;
    }

    &__right-slide {

      &::before {
        width: 290px;
        height: 290px;
      }
    }

    &__prev {
      left: -70px;
    }

    &__next {
      right: -455px;
    }
  }
}
@media (max-width: 1023px){
  .help {

    &__content {
      flex-wrap: wrap;
      &::before {
        display: none;
      }
    }
    .title {
      text-align: center;

      &::after {
        margin: 20px auto;
      }
    }
    &__left, &__right {
      width: 100%;
      padding-top: 0;
    }

    &__left {
      margin-left: 0;
    }

    &__left-slider {
      text-align: center;
    }

    &__left-slide {
      flex-direction: column;
      align-items: center;

      &::before {
        left: 51%;
        transform: translateX(-61%);
      }
    }

    &__right {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__left-number {
      margin: 0;
    }

    &__right-slider {
      position: static;
      width: 380px;
    }

    &__right-slide {

      &::before {
        width: 370px;
        height: 370px;
      }
    }

    .slick-dots {
      display: inline-block;
      bottom: -460px;
      text-align: center;
    }

    &__btn {
      position: static;
      margin-top: 70px;
    }

    &__prev  {
      top: 50px;
      left: 0;
    }
    &__next {
      top: 50px;
      right: 0;
    }
  }
}
@media (max-width: 767px){

}
@media (max-width: 639px){
  .help {

    &__right {
      //margin-top: -30px;
    }

    &__right-slider {
      width: 300px;
    }
    &__right-slide {

      &::before {
        width: 290px;
        height: 290px;
      }
    }

    .slick-dots {
      bottom: -400px;
    }

    &__btn {
      margin-top: 50px;
    }

    &__next, &__prev {
      width: 40px;
      //top: 80px;
    }

    &__left-text {
      font-size: 18px;
      line-height: 24px;
    }
  }
}
@media (max-width: 479px){
  .help {

    &__next, &__prev {
      width: 30px;
      top: 115px;
    }

    &__left-text {
      width: 100%;
    }

    &__right {
      flex-direction: column;
    }
    .title {
      &::after {
        margin: 10px auto;
      }
    }
    &__right-slider {
      order: 1;
      //margin-top: 30px;
    }
    .slick-dots {
      display: none;
    }
    &__right-slide {
      padding: 0;

      &::before {
        display: none;
      }
    }

    &__img {
      order: 2;
      margin-left: 40px;
      margin: 20px 0 0 40px;
    }

    &__btn {
      margin-top: 10px;
    }
  }
}