<!--consist start-->
<section class="consist block" id="consist">
	<div class="container">
		<h2 class="title">Состав <span class="corporate-color">Varius,</span></h2>
		<p class="subtitle">благодаря которому восстанавливается здоровье вен</p>

		<div class="consist__content">

				<div class="consist__item consist__item-1">
					<div class="consist__img">
						<img src="img/consist-1.jpg" alt="">
					</div>
					<h4 class="consist__title">Экстракт цветка зверобоя</h4>
					<p class="consist__descr">нормализует венозный кровоток, устраняет боль и&nbsp;воспаления</p>
				</div>
				<div class="consist__item consist__item-2">
					<div class="consist__img">
						<img src="img/consist-2.jpg" alt="">
					</div>
					<h4 class="consist__title">Экстракт цветков клевера</h4>
					<p class="consist__descr">снимает боль и судороги, улучшает циркуляцию крови</p>
				</div>
				<div class="consist__item consist__item-3">
					<div class="consist__img">
						<img src="img/consist-3.jpg" alt="">
					</div>
					<h4 class="consist__title">Экстракт семян<br> аниса</h4>
					<p class="consist__descr">восстанавливает нарушенное кровообращение и&nbsp;устраняет спазмы сосудов</p>
				</div>

				<div class="consist__item consist__item-4">
					<div class="consist__img">
						<img src="img/consist-4.jpg" alt="">
					</div>
					<h4 class="consist__title">Экстракт семян конского каштана</h4>
					<p class="consist__descr">повышает тонус сосудов,<br> предотвращает образование тромбов</p>
				</div>
				<div class="consist__item consist__pack">
					<div class="consist__pack">
						<img src="img/Varius-pack.png" alt="">
					</div>
				</div>
				<div class="consist__item consist__item-5">
					<div class="consist__img">
						<img src="img/consist-5.jpg" alt="">
					</div>
					<h4 class="consist__title">Экстракт цветков бархатца</h4>
					<p class="consist__descr">уменьшает отеки и тяжесть в&nbsp;ногах, обладает антиоксидантным действием</p>
				</div>

		</div>
	</div>
</section>
<!--consist end-->