// $mainColor: #000

body {	
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	overflow-x: hidden;
	color: #222;
}

img {
	max-width: 100%;
}

svg {
	overflow: hidden;
}

.container {
	width: 1220px;
	margin: 0 auto;
	padding: 0 25px;
	@include r(1219) {
		width: 1024px;
	}
	@include r(1023) {
		width: 768px;
		padding: 0 10px;
	}
	@include r(767) {
		width: 640px;
	}
	@include r(639) {
		width: 480px;
	}
	@include r(479) {
		width: 100%;
	}
}

.title {	
	font-size: 48px;
	line-height: 50px;
	text-align: center;
	font-weight: 900;
	@include r(1219){
		font-size: 42px;
	}
	@include r(1023){	
		font-size: 36px;
		line-height: 1.1;
	}
	@include r(767){	
		font-size: 32px;
	}
	@include r(639){	
		font-size: 29px;
	}
	@include r(479){	
		font-size: 26px;
	}
}

.text-medium {
	font-weight: 500;
}

.text-bold {
	font-weight: 700;
}

.text-black {
	font-weight: 900;
}

.text-nowrap {
	white-space: nowrap;
}

.corporate-color {
	color: #84902c;
}

.wave {
	background-color:#f4f0e7;
	background-image: radial-gradient(#f0ece3 20%, transparent 0%),
	radial-gradient(#f0ece3 20%, transparent 0%);
	background-size: 40px 30px;
	background-position: 0 0, 20px 15px;
}

.wave::before,
.wave::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 107px;
}

.wave::before {
	top: 0;
	background: url(../img/wave-top.png) no-repeat center center / cover;
}

.wave::after {
	bottom: 0;
	background: url(../img/wave-bottom.png) no-repeat center center / cover;
}

.text-orange {
	color: #f98b2e;
}

.btn {
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 65px;
	font-family: 'Roboto', sans-serif;
	background: linear-gradient(to right, #fd8412 0%, #f68b4a 50%, #fd8412 100%);
	border-radius: 5px;
	margin: 0 auto;
	padding: 5px 51px;
	box-shadow: 0 5px 0 #de7821, 0 25px 15px -10px rgba(252,239,241,.8);
	&:hover {
		box-shadow: 0 5px 0 #de7821;
	}
	&:active {
		box-shadow: none;
	}
	&__big {
		font-size: 27px;
		font-weight: 900;
	}
	&__small {
		font-size: 20px;
		font-weight: 500;
		position: relative;
		top: -5px;
	}
}