<!--progress start-->
<section class="progress block" id="progress">
	<div class="container">
		<h2 class="title">Как может развиваться<br> варикоз</h2>

		<div class="progress__items">

			<div class="progress__item item">
				<h3 class="item__title">Первый год</h3>
				<div class="item__img item__img_first">
					<img src="img/progress-1.png" alt="">
				</div>
				<p class="item__descr">
					Видимых проявлений нет, но&nbsp;беспокоит <span class="text-bold">тяжесть в&nbsp;ногах</span>
				</p>
			</div>

			<div class="progress__item item">
				<h3 class="item__title">1-2 года</h3>
				<div class="item__img item__img_second">
					<img src="img/progress-2.png" alt="">
				</div>
				<p class="item__descr">
					Под кожей формируются <span class="text-bold">мелкие венозные сеточки</span>, по&nbsp;ночам беспокоят судороги
				</p>
			</div>

			<div class="progress__item item">
				<h3 class="item__title">2-4 года</h3>
				<div class="item__img item__img_third">
					<img src="img/progress-3.png" alt="">
				</div>
				<p class="item__descr">
					Возникают <span class="text-bold">выраженные крупные вены</span>, отеки ног не&nbsp;проходят даже после отдыха
				</p>
			</div>

			<div class="progress__item item">
				<h3 class="item__title">после 4 лет</h3>
				<div class="item__img item__img_fourth">
					<img src="img/progress-4.png" alt="">
				</div>
				<p class="item__descr">
					<span class="text-bold">Трофические изменения</span> на&nbsp;коже, <span class="text-bold">боли</span>, которые можно снять только обезболивающими
				</p>
			</div>
		</div>

		<div class="progress__quote">
			<span class="progress__quote_red">*</span> время развития варикоза может отличаться, в&nbsp;зависимости от&nbsp;индивидуальных особенностей организма
		</div>

		<h4 class="progress__subtitle">На последней стадии самый частый вариант – это удаление варикозных вен!</h4>
		<h4 class="progress__subtitle progress__subtitle_red">Не запускайте варикоз!</h4>
	</div>
</section>
<!--progress end-->