<!--order start-->
<section class="order block" id="order">
	<div class="container">
		<h2 class="title">Как заказать доставку<br> <span class="corporate-color">Varius</span></h2>

		<div class="order__content">
			<div class="order__item">
				<div class="order__img">
					<svg viewBox="0 0 100 100" class="circle1">
						<circle r="50" cx="100%" cy="100%"stroke="#fa8a2d" fill="transparent" stroke-width="2" />
					</svg>
					<img src="img/order1.svg" alt="">
				</div>
				<div class="order__number">01</div>
				<h4 class="order__title">Заполните форму заказа</h4>
				<p class="order__description">Укажите только свое имя и&nbsp;номер телефона</p>
			</div>

			<div class="order__item">
				<div class="order__img">
					<svg viewBox="0 0 104 104" class="circle2">
						<circle r="50" cx="52" cy="52" stroke="#fa8a2d" fill="transparent" stroke-width="2" stroke-dasharray="90 90% 130%"></circle>
					</svg>
					<img src="img/order2.svg" alt="">
				</div>
				<div class="order__number">02</div>
				<h4 class="order__title">Ответьте на звонок оператора</h4>
				<p class="order__description">Он уточнит ваши адресные данные и&nbsp;ответит на все вопросы о Varius</p>
			</div>
			<div class="order__item">
				<div class="order__img">
					<svg viewBox="0 0 104 104" class="circle3">
						<circle r="50" cx="52" cy="52" stroke="#fa8a2d" fill="transparent" stroke-width="2" />
					</svg>
					<img src="img/order3.svg" alt="">
				</div>
				<div class="order__number">03</div>
				<h4 class="order__title">Оплатите после получения</h4>
				<p class="order__description">Никаких предоплат!</p>
			</div>
		</div>
	</div>

</section>
<!--order end-->